{% extends 'core/base.html' %}

{% load static%}
 {% block content %}


<!-- Start Banner Hero -->
    <section class="bg-light">   
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'core/./assets/img/banner.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>AQUAELEC</b> Tienda Online</h1>
                            <h3 class="h2">Las mejores marcas a los mejores precios</h3>
                            <p>
                                La tienda online de AQUAELEC te ayudara a optimizar las compras para tu hogar 
                            </p>
                        </div>
                    </div>
                </div>
            </div> 
    </section>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categorias</h1>
            <p>
                Categorias en la AQUAELEC
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'core/./assets/img/foco.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Electrico</h5>
            <p class="text-center"><a class="btn btn-success"href="{% url 'shop' %}">Tienda</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'core/./assets/img/taladro.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Contrucción</h2>
            <p class="text-center"><a class="btn btn-success"href="{% url 'shop' %}">Tienda</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'core/./assets/img/decoración.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Decoración</h2>
            <p class="text-center"><a class="btn btn-success"href="{% url 'shop' %}">Tienda</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->



{% endblock  %}